.container {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  margin-right: 10px;
}

.text-danger {
  margin-top: 10px;
}

.form-check-label {
  font-family: "Arial", sans-serif;
}

.background {
  background-image: url('./login.png');
  background-repeat: no-repeat;
  background-size: 52%;
  background-position: center;
  height: 100%;
  width: 100%;
}

.transparent-bg {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 45px;
  border-radius: 20px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper h2 {
  margin-bottom: 30px;
}

.login-btn {
  margin-bottom: 30px;
  margin-right: -10px;
}

.password-field {
  position: relative;
}

.password-input-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  padding: 0;
}
