.react-calendar__navigation__label {
  pointer-events: none;
  cursor: not-allowed;
}

.calendar-container{
margin-bottom: 50px;
}

.schedule-wrapper {
  margin-top: 20px;
}

.schedule-title {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.schedule-subtitle {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #666;
}

.schedule-subtitle-size {
  font-size: 20px;
}

.schedule-buttons {
  margin-bottom: 20px;
}

.schedule-details {
  margin-top: 20px;
}

.schedule-buttons button {
  margin-right: 10px;
}

.react-calendar {
  margin-top: 20px;
  width: 100%;
  max-width: 1600px;
  font-family: Arial, sans-serif;
  background-color: white;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  background-color: #0d6dfc;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.react-calendar__navigation button:hover {
  background-color: #0052cc;
}

.react-calendar__tile {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
}

.react-calendar__tile--active {
  background-color: #ccc;
}

.react-calendar__tile--now {
  background-color: #07409b;
  color: white;
}

.calendar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.calendar-content span {
  margin-top: 5px;
}

.calendar-content span.blue {
  color: blue;
}

.calendar-content span.green {
  color: green;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  border: 1px solid black;
}


.react-calendar__month-view__weekdays__weekday,
.react-calendar__tile.react-calendar__month-view__days__day {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 5px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.react-calendar__month-view__weekdays__weekday:hover,
.react-calendar__tile.react-calendar__month-view__days__day:hover {
  background-color: #e9ecef;
}

.react-calendar__month-view__weekdays__weekday--weekend,
.react-calendar__tile.react-calendar__month-view__days__day--weekend {
  color: #dc3545;
}

.react-calendar__month-view__weekdays__weekday--neighboringMonth,
.react-calendar__tile.react-calendar__month-view__days__day--neighboringMonth {
  color: #868e96;
}

.react-calendar__month-view__weekdays__weekday--today,
.react-calendar__tile.react-calendar__month-view__days__day--today {
  background-color: #007bff;
  color: #fff;
}

.react-calendar__month-view__weekdays__weekday--selected,
.react-calendar__tile.react-calendar__month-view__days__day--selected {
  background-color: #28a745;
  color: #fff;
}