.schedule-wrapper {
  margin-top: 20px;
}

.schedule-title {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.schedule-subtitle {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #666;
}


.schedule-subtitle-size{
  font-size: 20px;
}

.schedule-buttons {
  margin-bottom: 20px;
}

.schedule-details {
  margin-top: 20px;
}
.schedule-buttons button {
  margin-right: 10px;
}

.react-calendar {
  margin-top: 20px;
  width: 100%;
  max-width: 1600px;
  font-family: Arial, sans-serif;
  background-color: white; /* Change the background color to white */

}

.react-calendar__navigation {
  display: flex;
  justify-content: center; /* Center the navigation buttons horizontally */
  align-items: center;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  background-color: #0d6dfc;
  border: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}

.react-calendar__navigation button:hover {
  background-color: blue;
}

.react-calendar__tile {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black; /* Add border style */
}


.react-calendar__tile--active {
  background-color: #ccc;
}

.react-calendar__tile--now {
  background-color: #07409b;
  color: white;
}

/* Custom tile content styles */
.calendar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.calendar-content span {
  margin-top: 5px;
}

.calendar-content span.blue {
  color: blue;
}

.calendar-content span.green {
  color: green;
}


.react-calendar__month-view__weekdays__weekday{
  text-align: center;
  font-weight: bold;
  border: 1px solid black; /* Add border style */

}